*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  display:grid;
  grid-auto-flow: column;
  grid-template-columns:0.25fr 0.5fr 0.25fr;
  height: 100vh;
  font-size: 10px;
}

.left-menu{
  background-color: brown;
}

.right-menu{
  background-color: cadetblue;
}

main{
  background-color: chocolate;
}